body::after {
webkit-box-shadow: inset 0px 0px 23px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 23px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 23px 0px rgba(0,0,0,0.75);
}




.site-title {
    font-family: $font__title;
    font-size: clamp(1.5rem, #{"-0.875rem + 8.333vw"}, 4rem);
    font-weight: bold;
    color: #003;
    margin-bottom: 0;
    a {
    text-decoration: none;
}
}

.site-description {
    font-family: $font__title;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: bold;
    color: #003;
    margin-top: 0;
}

.accueil {
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 2rem);
    li {
        list-style-type: none;
    }
    margin: auto;
    padding: auto;
    width: 30rem;
}


body.home {
    margin: 0;
    padding: 0;
    background-color: rgb(143, 102, 166);
    animation-name: changementcouleur1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    font-family: $font__main;
    height: 100vh;
    width: 100vw;
    color: rgb(239, 166, 239);
}

a {
    text-decoration: none;
    font-weight: bold;
}

article a {
    font-size: 1rem;
}

body.home::after {
    position: absolute;
    width: 100%;
    height: 200vh;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    animation-name: changementcouleur2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 45% 100%, 0 100%);

    @include tablet {
        clip-path: polygon(90% 0, 100% 0, 100% 100%, 80% 100%);

    }

    @include media-desktop {
        clip-path: polygon(85% 0, 100% 0, 100% 100%, 67% 100%);
    }
}

body.home {
.site-title {
    font-size: 3rem;
}
}

.main-navigation a {
    margin-left: 0;
    text-decoration: none;
}

/*--------------------------------------------------------------------------------------------------
Liste de blocs par type de cours
Contient du code supplémentaire pour réduire la taille des blocs et des textes en petit format
-------------------------------------------------------------------------------------------------*/
  
section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 100px;

        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 5px solid black;
            background-color: rgb(44, 6, 44);
            margin: 1%;
            padding: 0 10px;
            width: 300px;
            height: 200px;
            -webkit-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
            box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
            transition: border 0.5s ease;

            

            @include mobile {
                width: 150px;
                height: 100px;
                border: 1px solid black;
            }

            p {
                margin: 1rem;
                font-size: 100%;

                @include mobile {
                    font-size: 50%;
                    margin: 0;
                }
            }
            a {
                font-size: 125%;
                font-weight: bold;
                text-decoration: none;
                text-align: center;

                @include mobile {
                    font-size: 75%;
                }
            }    
        }
    }  

 // Ce code est mis séparement afin de ne pas déranger les articles des autres pages   
section article:hover {
    background-color: rgb(114, 31, 98);
    border: 5px solid grey;

    @include mobile {
        border: 1px solid grey;
    }   
}


 

