body::after {
webkit-box-shadow: inset 0px 0px 23px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 23px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 23px 0px rgba(0,0,0,0.75);
}



.site-title {
    font-family: $font__title;
    font-size: clamp(1.5rem, #{"-0.875rem + 8.333vw"}, 4rem);
    font-weight: bold;
    color: #003;
    margin-bottom: 0;
    a {
    text-decoration: none;
}
}

.site-description {
    font-family: $font__title;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: bold;
    color: #003;
    margin-top: 0;
}

.accueil {
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 2rem);
    li {
        list-style-type: none;
    }
    margin: auto;
    padding: auto;
    width: 30rem;
}


body.home {
    margin: 0;
    padding: 0;
    background-color: rgb(143, 102, 166);
    font-family: $font__main;
    height: 100vh;
    width: 100vw;
    color: rgb(239, 166, 239);

}

body.home::after {
    position: absolute;
    width: 100%;
    height: 200vh;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 45% 100%, 0 100%);

    @include tablet {
        clip-path: polygon(90% 0, 100% 0, 100% 100%, 80% 100%);

    }

    @include media-desktop {
        clip-path: polygon(85% 0, 100% 0, 100% 100%, 67% 100%);
    }
}

body.home {
.site-title {
    font-size: 3rem;
}
}

.main-navigation a {
    margin-left: 0;
    text-decoration: none;
}

/*--------------------------------------------------------------------------------------------------
Liste de blocs par type de cours
-------------------------------------------------------------------------------------------------*/
.home .cours {
        display: flex;
        flex-direction: column;
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        article {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #aaa;
            width: 29%;
            margin: 1%;
            p {
                margin: .4rem;
                font-size: 1rem;
            }
            a {
                font-size: 2rem;
                font-weight: bold;
                text-decoration: none;
            }
            @include tablet {
                article {
                    width: 45%;
                    margin: 1%;
                }

            @include media-desktop {
                article {
                width: 29%;
                margin: 1%;
            }    
            }
        }
    }  
    }     
}
