header {
    width: 100vw;
}
body {
    overflow-x: hidden;
}

input {
    width: 30px;
    height: 30px;
    margin: 0 2em;
    margin-bottom: 10px;
}

#lesboutons {
    display: flex;
    justify-content: center;
    margin-left: -60px;
}

.carrousel {
    display: flex;
    width: 300vw;
    height: 15vh;
    margin: 0 -2rem;
    transition: transform 0.5s ease;

    div {
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        font-size: 2rem;

        &:nth-of-type(1){
            background-color: rgba(104, 20, 94, 0.5);
            width: 100vw;
            height: 100px;
        }
        &:nth-of-type(2){
            background-color: rgba(157, 39, 168, 0.5);
            width: 100vw;
            height: 100px;
        }
        &:nth-of-type(3){
            background-color: rgba(199, 61, 217, 0.5);
            width: 100vw;
            height: 100px;
        }
    } // fin du div

}