// Code affectant le carrousel

header {
    width: 100vw;
}
body {
    overflow-x: hidden;
}
// Ce code affecte les boutons liés au carrousel
input {
    width: 30px;
    height: 30px;
    margin: 0 2em;
    margin-bottom: 10px;
}

#lesboutons {
    display: flex;
    justify-content: center;
    margin-left: -60px;
}
// Fin du code lié aux boutons

.carrousel {
    display: flex;
    width: 300vw;
    height: 15vh;
    margin: 0 -3rem;
    transition: transform 0.5s ease;
    overflow-x: hidden;
    // Code affectant les divs en tant que telles
    div {
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        padding: 0 1em;

        // Format mobile
        @include mobile {
            font-size: 1rem;
            padding: 0 2em;
        }

        // Code affectant les divs de manière spécifique    
        &:nth-of-type(1){
            background-color: rgba(104, 20, 94, 0.5);
            width: 100vw;
            height: 100px;
        }
        &:nth-of-type(2){
            background-color: rgba(157, 39, 168, 0.5);
            width: 100vw;
            height: 100px;
        }
        &:nth-of-type(3){
            background-color: rgba(199, 61, 217, 0.5);
            width: 100vw;
            height: 100px;
        }
    } // fin du div

}


