// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}
$desktop_accueil: 1000px;
@mixin media-desktop {

	@media (min-width: #{$desktop_accueil}){
		@content;
	}
}

$tablet_accueil: 600px;
@mixin tablet {

	@media (min-width: #{$tablet_accueil}) {
		@content;
	}
}

@mixin mobile {

	@media (max-width: #{$tablet_accueil}) {
		@content;
	}
}
