

.main-navigation {
	display: block;
	width: 100vw;
	

	ul {
		display: none;
		position : absolute;
		width : 90vw;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: #000;
	
	

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			transition : left .3s ease;
			left: -999em;
			z-index: 99999;
/*
			ul {
				left: -999em;
				top: 0;
			}
*/			


			li {

				a {
				
				}
			}



			a {
				width: 100%;
			}		
			
		}
		/* fin du submenu */

		li:hover > ul,
		li.focus > ul {
			left: 0;
		
		}


	}

	li {
		position: relative;
	}

	a[href='#']::after {
		position: absolute;
		content: "+";
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 90%;
		right: 0;
		
	}

	li.focus a[href='#']::after,
	a[href='#']:hover::after

	a {
		display: block;
		text-decoration: none;
		padding: .5rem;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}
/* -----------------------------------------------------------------------------
Bouton burger 
------------------------------------------------------------------------------*/
.menu-toggle {
	padding :0;
//	transition : transform .25s;
//	transform : rotate(0deg);
	border : 0;
}
.menu-toggle:hover,
.menu-toggle:focus {
    background: #fafbfc;
}

.menu-toggle:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.menu-toggle:active {
    transform: scale(0.99);
}


.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	li.focus a[href="#"]::after {
		content : "-";
	}
}

.main-navigation.toggled ul,
	.main-navigation ul {
		border-radius: 0;
		padding: 0 10px;
		-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	}

	.main-navigation.toggled {
		margin-bottom: 200px;
	}

/* ---------------------------------------------------------------------------
menu tablet
------------------------------------------------------------------------------ */
@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}
	.main-navigation.toggled ul,
	.main-navigation ul {
		display: flex;
		position : static;
		justify-content: space-around;
		list-style-type: none;
		height: 50px;
		border-radius: 50px;
		align-items: center;
		//Box shadow
		-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
		a[href='#']::after {
			display: none;
		}
	
			li:hover ul {
				display: block;
				position: absolute;
				width: 300px;
				height: 400px;
				border-radius: 0 0 50px 50px;
				transform: translateX(-100px);
				padding: 0 10px;
				
			}	
		
	ul {
		display: none;
	}

	}
	.main-navigation.toggled {
		margin-bottom: 0px;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

